@model IEnumerable<Dr4rum_eProjectIII.Models.Account>
    <div class="card dashboard-tag alert alert-warning">
        <div class="card-header dashboard-tag-header ">
            <div class="tag-header-left">
                <img class="" src="~/Image/Logo_Icon/Admin/Acc_icon-80.png">
            </div>
            <div class="tag-header-right">
                <div class="tag-info-title"> Register Number </div>
                <div class="tag-info-num"> @Model.Count()</div>
            </div>
        </div>
        <div class="card-body">
            <a href="@Url.Action("Index", "AdminTopicManager")" class="btn btn-success">View Details</a>
        </div>
    </div>