.hide{
    display: none
}
.alert-info {
    background-color: #d1ecf1 !important;
}
.alert-danger {
    background-color: #f8d7da !important;
}
.myTable-info-tr > td {
    border-bottom: 1px solid lightseagreen;
    color: black;
}
.btn-control {
    width: 90px !important;
    margin-bottom: 5px;
}
.right-conner {
    font-weight: bold;
    text-align: right;
}
.title-containt{
    text-align: center ;
}
#Edit-page{
    padding-bottom: 0px;
}
